.body {
    display: flex;
    flex-flow: column nowrap;
    flex-grow: 1;
}

.header, .footer, .hero {
    background-color: #1F2937;
}

.header {
    display: flex;
    justify-content: space-around;
}

.upper-links {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.header-text, .mainhero, button {
    color: #F9FAF8;
}

.header-text {
    font-size: 24px;
}

ul {
    text-decoration: none;
}

li, .sechero, .footer{
font-size: 18px;
color: #E5E7EB;
}

li {
    display: inline-block;
    padding: 10px;
}

a {
    text-decoration: none;
    color: inherit;
}

.hero {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    padding: 70px;
    gap: 50px;
    flex-grow: 1;
}

.mainhero {
    font-size: 48px;
    font-weight: bolder;
}

.hero-text {
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    justify-content: flex-start;
    width: 500px;
    margin-left: -100px;
}

.placontainer {
    align-self: center;
    flex-basis: 37%;
}

.placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:gray;
    padding: 120px;
}

.sechero {
    margin-top: -30px;
    margin-bottom: -1px;
}

button {
    display: flex;
    background-color: #3882F6;
    outline-style: none;
    border-color: #3882F6;
    border-radius: 5px ;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 15px;
    font-weight: bold;
}

.layout2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}

.ly2htext {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.info {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.subcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 245px;
    align-content: space-around;
}

.imgly2 {
    border: solid #3882F6;
    border-radius: 15px;
    border-width: 5px;
    max-height: 200px;
    max-width: 200px;
}

.subtext {
    max-width: 200px;
}

.layout3 {
    background-color: #E5E7EB;
    display: flex;
    flex-flow: column nowrap;
    flex-grow: 1;
    padding: 110px;
}

.mainquote, .author {
    color: #1F2937;
}

.mainquote {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    max-width: 950px;
    align-self: center;
}

.author {
    font-weight: bolder;
    font-size: 25px;
    align-self: center;
    margin-top: -40px;
    margin-left: 550px;
}

.layout4 {
    display: flex;
    flex-flow: row nowrap;
    background-color: #3882F6;
    justify-content: flex-start;
    align-items: center;
    padding: 50px;
    margin: 120px;
    border-radius: 10px;
}

.textcontainerl4 {
    margin-left: 290px;
    margin-right: 200px;
}

.texthly4 {
    color: white;
    font-size: 30px;
    font-weight: bold;
}

.textly4 {
    color: #E5E7EB;
}

.button2 {
    border-color: white;
    padding: 5px 20px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    font-size: 15px;
}